<!DOCTYPE html>
<html>
    <head>
        <title>Monitor</title>
    </head>
    <body>
        <h1>Monitor</h1>
        <p>This is the main page for service monitor. Please find info below:</p>
        <p>- HealthCheck</p>
        <A HREF="http://localhost:4567/healthcheck/integration">Integration</A>
        <A HREF="http://localhost:4567/healthcheck/performance">Performance</A>
        <A HREF="http://localhost:4567/healthcheck/production">Production</A>
        <p>- Sanity</p>
        <A HREF="http://localhost:4567/sanity/integration">Integration</A>
        <A HREF="http://localhost:4567/sanity/performance">Performance</A>
        <A HREF="http://localhost:4567/sanity/production">Production</A>
        <!-- footer -->
        <div id=&quot;footer&quot;>
          <div class=&quot;container&quot;>
                <p>Copyright Monitor</p> 
          </div>
        </div>
    </body>
</html>
